/* CS-MAIN.css */

/* Font Families */
@font-face {
    font-family: 'Source Code Regular';
    src: url('assets/fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('assets/fonts/helveticaneue_medium-webfont.woff2') format('woff2'),
         url('assets/fonts/helveticaneue_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General/Element */
html, body {
    margin: 0 auto;
    height: 100vw;
}

body {
    background-color: #F7F6FB;
}

/* -- Main */
.title-text {
    font-family: "Source Code Regular";
    font-size: 25px;

    margin-top: 20px;
}

#main {
    color: #000000;
}

#main:hover {
    color: #202020;    
}

.seperator {
    height: 3px;
    width: 50px;
    margin: 0 auto;

    background-color: #FFBB5C;
}

/* -- Menu */
.main-menu {
    width: 100%;
    padding-top: 50px;
    text-align: left;

    position: relative;
    display: inline-block;
}
.menu-button {
    height: 35px;
    width: 150px;

    font-family: "Helvetica Neue Medium";
    font-size: 12px;
    letter-spacing: 1px;

    border: 2px solid #989898;
}

#btn-compile {
    color: #000000;
    background-color: #F7F6FB;
    transition: all 0.6s;
}

#btn-compile:hover {
    background-color: #FFBB5C;
    color: #F7F6FB;
    
}

#btn-tests {
    width: 50px;

    position: relative;
    display: inline-block;

    background-color: #F7F6FB;

    transition: all 0.6s;
}

#btn-tests:hover {
    background-color: #D8D8D8;
}

#verbose-toggle {
    width: 100px;
    background-color: #F7F6FB;
    border: 2px solid #38B000;

    transition: all 0.6s;
}

#verbose-toggle:hover {
    background-color: #D8D8D8;
}

#verbose-toggle:focus {
    outline: none;
}

/* -- Compiler */
.compiler {
    margin-top: 30px;
}

/* -- User Interface */
.section-name {
    font-family: "Helvetica Neue Medium";
    font-size: 16px;
    letter-spacing: 1px;   
}

.push-left {
    margin-left: 85px;
}

/* - Editor */
.editor {
    width: 500px;
    border: 2px solid #989898;
}

.lines {
    width: 30px;
    border-right: 1px solid #989898;
    background-color: #F5F3F4;
}

.line-number {
    padding-right: 10px;

    font-family:'Courier New', Courier, monospace;
    font-size: 13px;

    text-align: right;
}

.user-input {
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    
    height: 100%;
    resize: none;
    padding: 0;
}

/* - Logger */
.logger {
    width: 500px;
    float: right;

    border: 2px solid #989898;
}

.log-output {
    height: 475px;
    padding: 0;
    margin: 0;

    resize: none;

    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    color: #000000;
}

.log-output[readonly] {
    background-color: #FFFFFF;
}

.log-output:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    border: none;
    outline: none;
}

/* -- Code Output */
.output {
    margin-top: 30px;
}

.code-output {
    width: 100%;
    height: 150px;

    resize: none;

    background-color: #FFFFFF !important;
    border: 2px solid #989898;

    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    color: #000000;

}

/* -- Footer */
.footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;

    background-color: #FFFFFF;
    color: #000000;

    -webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.3);
}

.footer-menu {
    float: right;
}

.footer-menu li a {
    font-family: "Helvetica Neue Medium";
    font-size: 12px;
    letter-spacing: 1px; 

    color: #000000;
    transition: all 0.6s;
}

.footer-menu li a:hover {
    color: #FFBB5C;
}

.copyright {
    width: 100%;
    margin: 0 auto;

    text-align: left;
    font-family:'Courier New', Courier, monospace;
    font-size: 11px;
}

/* -- Modal Styling */
/* - Overlay [Tablet & Larger*/
@media only screen and (min-width: 40em) {
  
    .modal-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 5;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      visibility: hidden;
      backface-visibility: hidden;
      transition: opacity 0.6s cubic-bezier(.55,0,.1,1), visibility 0.6s cubic-bezier(.55,0,.1,1);
    }

    .modal-overlay-active {
        opacity: 1;
        visibility: visible;
    }
} 

/* - Modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: #F7F6FB;
    width: 600px;
    max-width: 75rem;
    min-height: 20rem;
    padding: 1rem;
    border-radius: 3px;
    opacity: 0;
    overflow-y: none;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    transform: scale(1.2);
    transition: all 0.6s cubic-bezier(.55,0,.1,1);
}

.modal-active {
    visibility: visible;
    opacity: 1;
}

/* - Modal Content */
.tests-list-container {
    height: 100px;
    overflow: scroll;
}

.test-types-menu {
    width: 200px;
    height: 35px;

    display: table;
    list-style: none;

    margin: 0 auto !important;
}

.test-types-menu li {
    display: table-cell;
    text-align: center;
    margin: 0 auto !important;
}

.test-types-menu li a {
    display: block;
    color: #606060;

    font-family: "Helvetica Neue Medium";
    font-size: 12px;
    letter-spacing: 1px;

    text-decoration: none;
    border-color: #FFBB5C;

    transition: all 0.6s;
}

.test-types-menu li a:hover {
    border-bottom: 1px solid #FFBB5C;
    color: #000000;
}

#LEX {
    border-bottom: 1px solid #FFBB5C;
    color: #000000;
}

#LEX-cases {
    display: block;
}

#PAR-cases {
    display: none;
}

#SMA-cases {
    display: none;
}

#CGN-cases {
    display: none;
}

.test-list {
    margin-left: 0 !important;
}

.test-list li {
    text-align: left;
    list-style-type: none;

    padding: 3px;
}

.test-list li:hover {
    text-align: left;
    list-style-type: none;

    background-color: #E8E8E8;
    transition: background-color 0.6s;
}

.test-list li a {
    width: 100%;

    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    letter-spacing: 1px;

    transition: color 0.6s;
}

.test-list li span {
    color: #000000;
    font-size: 13px;

    transition: color 0.6s;
}

.test-list li span.success {
    color: #38B000;
}

.test-list li span.warning {
    color: #FFBB5C;
}

.test-list li span.fail {
    color: #DB3A34;
}

.modal-tests-content {
    text-align: center;

    opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.55,0,.1,1);
    transition-delay: (0.6s * 0.5);    
}

.modal-tests-content p {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 10px;   
}

.modal-tests-content-active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.modal-close {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.55,0,.1,1), transform 0.6s cubic-bezier(.55,0,.1,1);
    transition-delay: 0.3s;    
}

.modal-close svg {
    color: #000000;
    width: 1.75em;
    height: 1.75em;
}

.modal-close-active {
    transform: translateY(10px);
    opacity: 1;    
} 

/* - Mobile Styling */
@media only screen and (max-width: 39.9375em) {
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        border-radius: 0;
        transform: scale(1.1);
        padding: 0 !important;
    }

    .modal-close {
        right: 20px !important;
    }
}