/* CS-MAIN.css */

/* Font Families */
@font-face {
    font-family: 'Source Code Regular';
    src: url('assets/fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('assets/fonts/helveticaneue_medium-webfont.woff2') format('woff2'),
         url('assets/fonts/helveticaneue_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General/Element */
html, body {
    margin: 0 auto;
    height: 100vw;
}

body {
    background-color: #F7F6FB;
}

/* -- Main */
.title-text {
    font-family: "Source Code Regular";
    font-size: 25px;

    margin-top: 20px;
}

#main {
    color: #000000;
}

#main:hover {
    color: #202020;    
}

.seperator {
    height: 3px;
    width: 50px;
    margin: 0 auto;

    background-color: #FFBB5C;
}

/* -- Menu */
.main-menu {
    width: 100vw;
    padding-top: 50px;
    text-align: left;

    position: relative;
    display: inline-block;
}
.menu-button {
    height: 35px;
    width: 150px;

    font-family: "Helvetica Neue Medium";
    font-size: 12px;
    letter-spacing: 1px;

    border: 2px solid #989898;
}

#btn-compile {
    color: #000000;
    background-color: #F7F6FB;
    transition: all 0.6s;
}

#btn-compile:hover {
    background-color: #FFBB5C;
    color: #F7F6FB;
    
}

#btn-tests {
    width: 50px;

    position: relative;
    display: inline-block;

    transition: all 0.6s;
}

#btn-tests:hover .menu-tests-content {
    display: block; 
}

.menu-tests-content {
    display: none;
    position: absolute;
    z-index: 1;

    transition: all 0.3s;
}

.menu-test-content a {
    color: #000000;
    text-decoration: none;
    display: block;
}

/* -- Compiler */
.compiler {
    margin-top: 30px;
}
/* -- User Interface */
.section-name {
    font-family: "Helvetica Neue Medium";
    font-size: 16px;
    letter-spacing: 1px;   
}

.push-left {
    margin-left: 85px;
}

/* - Editor */
.editor {
    width: 500px;
    border: 2px solid #989898;
}

.lines {
    width: 30px;
    border-right: 1px solid #989898;
    background-color: #F5F3F4;
}

.line-number {
    padding-right: 10px;

    font-family:'Courier New', Courier, monospace;
    font-size: 13px;

    text-align: right;
}

.user-input {
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    
    height: 100%;
    resize: none;
    padding: 0;
}

/* - Logger */
.logger {
    width: 500px;
    float: right;

    border: 2px solid #989898;
}

.log-output {
    height: 475px;
    padding: 0;
    margin: 0;

    resize: none;

    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    color: #000000;
}

.log-output[readonly] {
    background-color: #FFFFFF;
}

.log-output:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    border: none;
    outline: none;
}

/* -- Footer */
.footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;

    background-color: #F3F3F3;
    color: #000000;
}

.footer-menu {
    float: right;
}

.footer-menu li a {
    font-family: "Helvetica Neue Medium";
    font-size: 12px;
    letter-spacing: 1px; 

    color: #000000;
    transition: all 0.6s;
}

.footer-menu li a:hover {
    color: #FFBB5C;
}

.copyright {
    width: 100%;
    margin: 0 auto;

    text-align: left;
    font-family:'Courier New', Courier, monospace;
    font-size: 11px;
}